USE [master]
GO
/****** Object:  Database [HelpDeskDB2]    Script Date: 08/09/2025 18:46:39 ******/
CREATE DATABASE [HelpDeskDB2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HelpDeskDB2', FILENAME = N'C:\Users\Mme Lakhneche\HelpDeskDB2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HelpDeskDB2_log', FILENAME = N'C:\Users\Mme Lakhneche\HelpDeskDB2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HelpDeskDB2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HelpDeskDB2]
GO
/****** Object:  User [admin]    Script Date: 08/09/2025 18:46:39 ******/
CREATE USER [admin] FOR LOGIN [admin] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AgentClaimLogs]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentClaimLogs](
	[AffectedDate] [datetime2](7) NOT NULL,
	[AgentFK] [int] NOT NULL,
	[ComplaintFK] [int] NOT NULL,
	[AdminFK] [int] NOT NULL,
	[Affected] [bit] NOT NULL,
	[ProcessedDate] [datetime2](7) NULL,
 CONSTRAINT [PK_AgentClaimLogs] PRIMARY KEY CLUSTERED 
(
	[ComplaintFK] ASC,
	[AgentFK] ASC,
	[AdminFK] ASC,
	[AffectedDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Agents]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agents](
	[AgentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Pwd] [nvarchar](max) NOT NULL,
	[AccountStatus] [int] NULL,
	[AgentType] [int] NOT NULL,
 CONSTRAINT [PK_Agents] PRIMARY KEY CLUSTERED 
(
	[AgentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[clientId] [int] IDENTITY(1,1) NOT NULL,
	[clientName] [nvarchar](max) NOT NULL,
	[Pwd] [nvarchar](max) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[clientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComplaintFiles]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComplaintFiles](
	[ComplaintFileId] [int] IDENTITY(1,1) NOT NULL,
	[FilePath] [nvarchar](max) NOT NULL,
	[ComplaintFK] [int] NOT NULL,
 CONSTRAINT [PK_ComplaintFiles] PRIMARY KEY CLUSTERED 
(
	[ComplaintFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Complaints]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complaints](
	[ComplaintId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[SubmissionDate] [datetime2](7) NOT NULL,
	[ProcessedDate] [datetime2](7) NOT NULL,
	[ComplaintState] [int] NOT NULL,
	[ComplaintStatus] [int] NOT NULL,
	[ComplaintType] [int] NOT NULL,
	[FeatureFK] [int] NOT NULL,
	[ClientFK] [int] NOT NULL,
 CONSTRAINT [PK_Complaints] PRIMARY KEY CLUSTERED 
(
	[ComplaintId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faqs]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faqs](
	[FaqId] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Anwser] [nvarchar](max) NOT NULL,
	[FeatureFK] [int] NOT NULL,
 CONSTRAINT [PK_Faqs] PRIMARY KEY CLUSTERED 
(
	[FaqId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Features]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[ComplaintFK] [int] NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Horodatage]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Horodatage](
	[HorodatageId] [float] NOT NULL,
	[ComplaintId] [int] NOT NULL,
	[AgentId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[ClaimState] [int] NOT NULL,
 CONSTRAINT [PK_Horodatage] PRIMARY KEY CLUSTERED 
(
	[HorodatageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KnowledgeBases]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KnowledgeBases](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](max) NOT NULL,
	[Response] [nvarchar](max) NOT NULL,
	[AdminAdd] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[FeatureFK] [int] NOT NULL,
 CONSTRAINT [PK_KnowledgeBases] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Messages]    Script Date: 08/09/2025 18:46:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[TypeSender] [int] NOT NULL,
	[SendDate] [datetime2](7) NOT NULL,
	[ComplaintFK] [int] NOT NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_AgentClaimLogs_AdminFK]    Script Date: 08/09/2025 18:46:39 ******/
CREATE NONCLUSTERED INDEX [IX_AgentClaimLogs_AdminFK] ON [dbo].[AgentClaimLogs]
(
	[AdminFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AgentClaimLogs_AgentFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_AgentClaimLogs_AgentFK] ON [dbo].[AgentClaimLogs]
(
	[AgentFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ComplaintFiles_ComplaintFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_ComplaintFiles_ComplaintFK] ON [dbo].[ComplaintFiles]
(
	[ComplaintFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Complaints_ClientFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_Complaints_ClientFK] ON [dbo].[Complaints]
(
	[ClientFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Complaints_FeatureFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_Complaints_FeatureFK] ON [dbo].[Complaints]
(
	[FeatureFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Faqs_FeatureFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_Faqs_FeatureFK] ON [dbo].[Faqs]
(
	[FeatureFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_ComplaintFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Feedbacks_ComplaintFK] ON [dbo].[Feedbacks]
(
	[ComplaintFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_KnowledgeBases_FeatureFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_KnowledgeBases_FeatureFK] ON [dbo].[KnowledgeBases]
(
	[FeatureFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Messages_ComplaintFK]    Script Date: 08/09/2025 18:46:40 ******/
CREATE NONCLUSTERED INDEX [IX_Messages_ComplaintFK] ON [dbo].[Messages]
(
	[ComplaintFK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Agents] ADD  DEFAULT ((0)) FOR [AgentType]
GO
ALTER TABLE [dbo].[AgentClaimLogs]  WITH CHECK ADD  CONSTRAINT [FK_AgentClaimLogs_Agents_AdminFK] FOREIGN KEY([AdminFK])
REFERENCES [dbo].[Agents] ([AgentId])
GO
ALTER TABLE [dbo].[AgentClaimLogs] CHECK CONSTRAINT [FK_AgentClaimLogs_Agents_AdminFK]
GO
ALTER TABLE [dbo].[AgentClaimLogs]  WITH CHECK ADD  CONSTRAINT [FK_AgentClaimLogs_Agents_AgentFK] FOREIGN KEY([AgentFK])
REFERENCES [dbo].[Agents] ([AgentId])
GO
ALTER TABLE [dbo].[AgentClaimLogs] CHECK CONSTRAINT [FK_AgentClaimLogs_Agents_AgentFK]
GO
ALTER TABLE [dbo].[AgentClaimLogs]  WITH CHECK ADD  CONSTRAINT [FK_AgentClaimLogs_Complaints_ComplaintFK] FOREIGN KEY([ComplaintFK])
REFERENCES [dbo].[Complaints] ([ComplaintId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AgentClaimLogs] CHECK CONSTRAINT [FK_AgentClaimLogs_Complaints_ComplaintFK]
GO
ALTER TABLE [dbo].[ComplaintFiles]  WITH CHECK ADD  CONSTRAINT [FK_ComplaintFiles_Complaints_ComplaintFK] FOREIGN KEY([ComplaintFK])
REFERENCES [dbo].[Complaints] ([ComplaintId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComplaintFiles] CHECK CONSTRAINT [FK_ComplaintFiles_Complaints_ComplaintFK]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Clients_ClientFK] FOREIGN KEY([ClientFK])
REFERENCES [dbo].[Clients] ([clientId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Clients_ClientFK]
GO
ALTER TABLE [dbo].[Complaints]  WITH CHECK ADD  CONSTRAINT [FK_Complaints_Features_FeatureFK] FOREIGN KEY([FeatureFK])
REFERENCES [dbo].[Features] ([FeatureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Complaints] CHECK CONSTRAINT [FK_Complaints_Features_FeatureFK]
GO
ALTER TABLE [dbo].[Faqs]  WITH CHECK ADD  CONSTRAINT [FK_Faqs_Features_FeatureFK] FOREIGN KEY([FeatureFK])
REFERENCES [dbo].[Features] ([FeatureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Faqs] CHECK CONSTRAINT [FK_Faqs_Features_FeatureFK]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Complaints_ComplaintFK] FOREIGN KEY([ComplaintFK])
REFERENCES [dbo].[Complaints] ([ComplaintId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Complaints_ComplaintFK]
GO
ALTER TABLE [dbo].[KnowledgeBases]  WITH CHECK ADD  CONSTRAINT [FK_KnowledgeBases_Features_FeatureFK] FOREIGN KEY([FeatureFK])
REFERENCES [dbo].[Features] ([FeatureId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KnowledgeBases] CHECK CONSTRAINT [FK_KnowledgeBases_Features_FeatureFK]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Complaints_ComplaintFK] FOREIGN KEY([ComplaintFK])
REFERENCES [dbo].[Complaints] ([ComplaintId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Complaints_ComplaintFK]
GO
USE [master]
GO
